<p-table [value]="occupations">
  <ng-template pTemplate="header">
    <tr>
      <th>کد</th>
      <th>نام</th>
      <th>تعداد مصوب</th>
      <th>شيفت موظف</th>
      <th>اضافه کاری قانونی</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-emp>
    <tr>
      <td>{{ emp.code }}</td>
      <td>{{ emp.name }}</td>
      <td>{{ emp.approvedHeadcount }}</td>
      <td>{{ emp.mandatoryShifts }}</td>
      <td>{{ emp.regulatoryOvertime }}</td>
    </tr>
  </ng-template>
</p-table>
