<p-toast></p-toast>

<div class="importer" >
    <!-- File Upload Component -->
    <p-fileUpload
        mode="basic"
        chooseLabel="Choose Excel File"
        accept=".xlsx, .xls, .csv"
        [maxFileSize]="1000000"
        (onSelect)="onFileSelect($event)"
        (onClear)="onFileClear()"
    >
    </p-fileUpload>
    <button pButton value="save" icon="pi pi-plus" (click)="createMedicalPerMonth()"></button>
    @if (importedData.length > 0) {
    <div  style="margin-top: 5px;">
       
        <p-table [value]="importedData" [scrollable]="true" scrollHeight="400px">
            <!-- Dynamic Columns for Header -->
            <ng-template pTemplate="header">
                <tr>
                    @for (col of tableColumns; track col) {
                        <th>{{ col }}</th>
                    }
                </tr>
            </ng-template>

            <!-- Dynamic Rows for Body -->
            <ng-template pTemplate="body" let-rowData>
                <tr>
                    @for (col of tableColumns; track col) {
                        <td>{{ rowData[col] }}</td>
                    }
                </tr>
            </ng-template>
        </p-table>
    </div>
    }
    @else {}

    @if(importedData.length === 0){
    <div style="margin-top: 20px;">
        <p>No data imported yet. Please upload an Excel file.</p>
    </div>
    }

</div>