<p-panel header="ثبت">
  <form (ngSubmit)="onSubmit()"  dir="rtl">
    <table class="p-datatable p-grid p-formgrid">
        <tr>
          <td style="width: 180px">سازمان</td>
          <td>
            <p-select
              [options]="organizationList"
              [(ngModel)]="medical.organization"
              name="organization"
              [checkmark]="true"
              optionLabel="name"
              [showClear]="true"
              placeholder="انتخاب سازمان"
              class="w-full md:w-56"
            />
          </td>

        </tr>
        <tr>
          <td>سال</td>
          <td>
            <p-select
              [options]="yearList"
              [(ngModel)]="medical.year"
              name="year"
              [checkmark]="true"
              optionLabel="name"
              [showClear]="true"
              placeholder="انتخاب سال"
              class="w-full md:w-56"
            />
          </td>

          <td>ماه</td>
          <td>
            <p-select
              [options]="monthList"
              [(ngModel)]="medical.month"
              name="month"
              [checkmark]="true"
              optionLabel="name"
              [showClear]="true"
              placeholder="انتخاب ماه"
              class="w-full md:w-56"
            />
          </td>
        </tr>
        <tr>
          <td colspan="2" style="text-align: center">
            <button
              pButton
              icon="pi pi-check"
              type="submit"
              class="p-button-success mx-2"
            ></button>
            <button
              pButton
              icon="pi pi-times"
              type="button"
              class="p-button-danger mx-2"
              (click)="onCancel()"
            ></button>
          </td>
        </tr>
    </table>

    <p-table [value]="detailsList" dataKey="id" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template #header>
        <tr>
          <th style="width:25%">
            Service Code
          </th>
          <th style="width:25%">
            Service name
          </th>

          <th style="width:25%">
            totalMedicalPerMonth
          </th>
        </tr>
      </ng-template>
      <ng-template #body let-product let-editing="editing">
        <tr>
          <td>
            {{ product.service.code}}
          </td>
          <td >

              {{ product.service.name }}
          </td>
          <td [pEditableColumn]="product.totalMedicalPerMonth" pEditableColumnField="quantity">
            <p-cellEditor>
              <ng-template #input>
                <input
                  pInputText
                  [(ngModel)]="product.totalMedicalPerMonth"
                  fluid />
              </ng-template>
              <ng-template #output>
                {{ product.totalMedicalPerMonth }}
              </ng-template>
            </p-cellEditor>
          </td>

        </tr>
      </ng-template>
    </p-table>
  </form>
</p-panel>
