<p-toolbar>
  <div class="p-toolbar-group-left">
    <button pButton icon="pi pi-plus" (click)="addMedicalPerMonth()"></button>
    <button pButton icon="pi pi-file-import" (click)="importerMedicalPerMonth()"></button>
  </div>
</p-toolbar>
<p-table [value]="medicalPerMonths" >
  <ng-template pTemplate="header">
      <tr>
          <th>مرکز</th>
          <th>سال</th>
          <th>ماه</th>
          <th>خدمات</th>
          <th>خدمات تعداد</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-medicalPerMonth >
      <tr>
        <td>{{medicalPerMonth.organization.name}}</td>
        <td>{{medicalPerMonth.year.name}}</td>
        <td>{{medicalPerMonth.month.name}}</td>
        <td>{{medicalPerMonth.service.name}}</td>
        <td>{{medicalPerMonth.totalMedicalPerMonth}}</td>
        <td>
          <button pButton icon="pi pi-pencil" (click)="editMedicalPerMonth(medicalPerMonth)"></button>
          <button pButton icon="pi pi-trash" (click)="deleteMedicalPerMonth(medicalPerMonth)"></button>
      </tr>
  </ng-template>
</p-table>

<p-dialog
          [(visible)]="createDialog" [modal]="true">
  <app-medical-per-month-form
    [medicalPerMonth]="selectedMedicalPerMonth"
    [organizationList] ="organizationList"
   [yearList]="yearList"
    [monthList]="monthList"
     [serviceList]="serviceList"
    (save)="createMedicalPerMonth($event)"
    (cancel)="onCancel()">
  </app-medical-per-month-form>
</p-dialog>

<p-dialog [(visible)]="importerDialog" [modal]="true"

>
  <app-medical-per-month-importer
  [organizationList] ="organizationList"
   [yearList]="yearList"
    [monthList]="monthList"
     [serviceList]="serviceList">

  </app-medical-per-month-importer>
</p-dialog>
