<p-toolbar>
  <div class="p-toolbar-group-left">
    <button pButton icon="pi pi-plus" (click)="addMedicalPerMonth()"></button>
  </div>
</p-toolbar>
<p-table [value]="medicalPerMonths" >
  <ng-template pTemplate="header">
      <tr>
          <th>سال</th>
          <th>ماه</th>
          <th>خدمات</th>
          <th>خدمات تعداد</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-medicalPerMonth >
      <tr>
        <td>{{medicalPerMonth.year.name}}</td>
        <td>{{medicalPerMonth.month.name}}</td>
        <td>{{medicalPerMonth.service.name}}</td>
        <td>{{medicalPerMonth.totalMedicalPerMonth}}</td>
        <td>
          <button pButton icon="pi pi-pencil" (click)="editMedicalPerMonth(medicalPerMonth)"></button>
          <button pButton icon="pi pi-trash" (click)="deleteMedicalPerMonth(medicalPerMonth)"></button>
      </tr>
  </ng-template>
</p-table>
