
<form (ngSubmit)="onSubmit()" *ngIf="model">
  <div class="p-field">
    <label for="code">کد : </label>
    <input
      id="code"
      type="text"
      pInputText
      [(ngModel)]="model.code"
      name="code"
      required
    />
  </div>
  <div class="p-field">
    <label for="name">نام : </label>
    <input
      id="name"
      type="text"
      pInputText
      [(ngModel)]="model.name"
      name="name"
      required
    />
  </div>
  <div class="p-field">
    <label for="name">محل خدمت : </label>
    <p-select
      [options]="departments"
      [(ngModel)]="model.department"
      name="month"
      [checkmark]="true"
      optionLabel="name"
      [showClear]="true"
      placeholder="انتخاب دسته بندی"
      class="w-full md:w-56"
    />
  </div>
  <div class="p-dialog-footer">
    <button pButton type="submit"
            [rounded]="true"
            [text]="true"
            icon="pi pi-check"></button>
    <button
      pButton
      type="button"
      [rounded]="true"
      [text]="true"
      severity="danger"
      icon="pi pi-ban"
      (click)="onCancel()"
    ></button>
  </div>
</form>
