<p-toolbar> </p-toolbar>
<p-table [value]="personnelAttendances">
  <ng-template pTemplate="header">
    <tr>
      <th>مرکز</th>
      <th>سال</th>
      <th>ماه</th>


      <th>
        <div class="p-toolbar-group-left">
          <button
            pButton
            [rounded]="true"
            severity="success"
            [text]="true"
            icon="pi pi-plus"
            (click)="addPersonnelAttendance()"
          ></button>
          <button
            pButton
            [rounded]="true"
            severity="help"
            [text]="true"
            icon="pi pi-file-import"
            (click)="importPersonnelAttendance()"
          ></button>
        </div>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-attendance>
    <tr>
      <td>{{ attendance.organization.name }}</td>
      <td>{{ attendance.year.name }}</td>
      <td>{{ attendance.month.name }}</td>


      <td>
        <button
          pButton
          [rounded]="true"
          [text]="true"
          severity="info"
          icon="pi pi-bars"
          (click)="detailPersonnelAttendance(attendance)"
        ></button>
        <button
          pButton
          [rounded]="true"
          [text]="true"
          severity="warn"
          icon="pi pi-pencil"
          (click)="editPersonnelAttendance(attendance)"
        ></button>
        <button
          pButton
          [rounded]="true"
          [text]="true"
          severity="danger"
          icon="pi pi-trash"
          (click)="deletePersonnelAttendance(attendance)"
        ></button>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-dialog [(visible)]="createDialog" [modal]="true">
  <app-personnel-attendance-form
    [attendance]="selectedAttendance"
    (save)="createAttendance($event)"
    (cancel)="onCancel()"
  >
  </app-personnel-attendance-form>
</p-dialog>

<p-dialog [(visible)]="importyDialog" [modal]="true">
  <app-personnel-attendance-importer
    [organizationList]="organizationList"
    [yearList]="yearList"
    [monthList]="monthList"
    [occupationList]="occupationList"
    (save) = "createAttendance($event)"
    (cancel)="onCancel()"
  >
  </app-personnel-attendance-importer>
</p-dialog>

<p-dialog
  header="نمایش جزییات"
  [resizable]="false"
  [modal]="true"
  [maximizable]="true"
  appendTo="body"
  [(visible)]="detailDialog"
  [style]="{ width: '75vw' }"
  [contentStyle]="{ height: '300px' }"
>
  <p-table [value]="detailsList" [scrollable]="true" scrollHeight="flex" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template #header>
      <tr>
        <th>عنوان شغلي</th>
        <th>ساعت هاي كاركرد</th>
        <th>دقيقه هاي كاركرد</th>
        <th>جمع كاركرد</th>

        <th>اضافه كار با ضريب</th>
        <th>اضافه كار بدون ضريب</th>

        <th>تعداد روزهاي اضافه كار</th>
        <th>ساعت هاي اضافه كار</th>
        <th>دقيقه هاي اضافه كار</th>
        <th>جمع اضافه كار</th>

        <th>تعداد پرسنل حاضر</th>

      </tr>
    </ng-template>
    <ng-template #body let-detail>
      <tr>
        <td>{{ detail.occupation.name }}</td>

        <td>{{ detail.totalHoursWorked }}</td>
        <td>{{ detail.totalMinutesWorked }}</td>
        <td>{{ detail.totalWorked }}</td>

        <td>{{ detail.overtimeWithMultiplier }}</td>
        <td>{{ detail.overtimeWithOutMultiplier }}</td>

        <td>{{ detail.overtimeDaysWorked }}</td>
        <td>{{ detail.overtimeHoursWorked }}</td>
        <td>{{ detail.overtimeMinWorked }}</td>
        <td>{{ detail.overtimeTotalWorked }}</td>

        <td>{{ detail.attendanceCount }}</td>

      </tr>
    </ng-template>
  </p-table>
</p-dialog>
