

<p-table [value]="departments">
  <ng-template pTemplate="header">
    <tr>
      <th>کد</th>
      <th>نام</th>
      <th>دسته بندی</th>
      <th> <button pButton
                   [rounded]="true"
                   severity="success"
                   [text]="true"
                   icon="pi pi-plus" (click)="addDepartment()"></button></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-emp>
    <tr>
      <td>{{ emp.code }}</td>
      <td>{{ emp.name }}</td>
      <td>{{ emp.category.name }}</td>
      <td>
        <button
          pButton
          icon="pi pi-pencil"
          class="p-button-text"
          (click)="editDepartment(emp)"
        ></button>
        <button
          pButton
          icon="pi pi-trash"
          class="p-button-text"
          (click)="deleteDepartment(emp.id)"
        ></button>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-dialog
  header="{{ isEditing ? 'ویرایش بخش' : 'ایجاد بخش' }}"
  [(visible)]="displayDialog"
  [modal]="true"
  [maximizable]="true"
>
  <app-department-form
    [department]="selectedDepartment"
    [categories]="categories"
    (save)="createDepartment($event)"
    (cancel)="closeDialog()"
  >
  </app-department-form>
</p-dialog>
