<div
  style="min-width: 80px"
  class="flex flex-row gap-1 h-full bg-gray-50 border-b"
>
  @if (actions.length < 4){ @for(action of actions; track action.label) {
  <button
    pButton
    class="p-1"
    [attr.icon]="action.icon"
    [attr.variant]="action.variant"
    [attr.label]="action.label"
    [attr.severity]="action.icon"
    [disabled]="action.disable"
    [ngClass]="action.class"
    (click)="action?.click($event)"
  ></button>
  } } @else {
  <!-- TODO -->
  <!-- <p-speeddial [model]="items" direction="up" [transitionDelay]="80" style="position: 'absolute'">
    <ng-template #button let-toggleCallback="toggleCallback">
        <p-button outlined styleClass="border" (click)="toggleCallback($event)">
            <svg width="31" height="33" viewBox="0 0 31 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="..." fill="var(--p-primary-color)" />
            </svg>
        </p-button>
    </ng-template>
    <ng-template #item let-item let-toggleCallback="toggleCallback">
        <div
            class="flex flex-col items-center justify-between gap-2 p-2 border rounded border-surface-200 dark:border-surface-700 w-20 cursor-pointer"
            (click)="toggleCallback($event, item)"
        >
            <span [class]="item.icon"></span>
            <span>
                {{ item.label }}
            </span>
        </div>
    </ng-template>
</p-speeddial> -->
  }
</div>
